@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik\ Family/Graphik-BoldItalic-Trial.otf);
    font-style: italic, oblique;
    font-weight: bold;
}

@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik\ Family/Graphik-RegularItalic-Trial.otf);
    font-style: italic, oblique;
}

@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik\ Family/Graphik-Bold-Trial.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik\ Family/Graphik-Regular-Trial.otf);
}

@font-face {
    font-family: "GraphikMedium";
    src: url(../fonts/Graphik\ Family/Graphik-MediumItalic-Trial.otf);
    font-style: italic, oblique;
}

@font-face {
    font-family: "GraphikMedium";
    src: url(../fonts/Graphik\ Family/Graphik-Medium-Trial.otf);
}


@font-face {
    font-family: "GraphikBlack";
    src: url(../fonts/Graphik\ Family/Graphik-BoldItalic-Trial.otf);
    font-style: italic, oblique;
}

@font-face {
    font-family: "GraphikBlack";
    src: url(../fonts/Graphik\ Family/Graphik-Black-Trial.otf);
}

@media screen and (max-width: 700px) {
    .logo p {
        display: none;
    }

    .logo {
        margin-right: -0.5em;
    }

    .home:first-child, .home:last-child {
        display: none;
    }

    .grid-home {
        grid-template-columns: 0px auto 0px !important;
    }
}

/* @keyframes slidedown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }

} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --neutral-color: white !important;
        --invert-neutral-color: black !important;
    }
} */ /* for dark mode */

:root {
    --primary-gradient: linear-gradient(90deg, #2d9d8a 0%, #95cd98 50%, #2d9d8a 100%);
    --primary-color: #95cd98;
    --secondary-color: #307467;
    --secondary-shade-1:#24574D;
    --neutral-color: #212529;;
    --invert-neutral-color: #F2F9F2;
    --invert-neutral-color-shade-1: rgb(209, 209, 209);
    --primary-tint-1: #E5F3E5;
    --primary-tint-2: #D7ECD8;
    --primary-shade-1: #82B385;
    --primary-shade-2: #5D805F;
    --font-regular: "Graphik";
    --font-medium: "GraphikMedium";
    --font-thick: "GraphikBlack";
    --accent-color-1: #307467;
    --accent-tint-1: #86adff;
    --red-1: #FFA39D;
    --bg-image-1: url(../images/trialbg.jpg);
    --font-size-tiny: clamp(0.4rem, 2vw, 0.6rem);
    --font-size-small: clamp(0.6rem, 2vw, 0.8rem);
    --font-size-normal: clamp(0.8rem, 2vw, 1rem);
    --font-size-medium: clamp(1rem, 2vw, 1.2rem);
    --font-size-large: clamp(1.2rem, 2vw, 1.4rem);
    --font-size-huge: clamp(3.8rem, 2vw, 4rem);
/*  .color-1 {color: #95cd98;}
    .color-2 {color: #95cda6;}
    .color-3 {color: #95cdb4;}
    .color-4 {color: #95cdc2;}
    .color-5 {color: #95cacd;}
    .color-6 {color: #95bccd;}  */
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-regular);
}

body {
    background-color: var(--invert-neutral-color);
    font-family: "Graphik";
    margin: 0;
    overflow-x: hidden;
    font-size: var(--font-size-normal);
    color: var(--neutral-color);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-medium);
}

a:hover {
    border-bottom: 2px solid var(--invert-neutral-color) !important;
    transition: 0.2s !important;
}

.not-link:hover {
    text-decoration: none;
    border-bottom: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clickable:hover {
    cursor: pointer;
}

button, .button {
    outline: transparent;
    border: none;
    border-radius: 15px;
    padding: 0.4em;
    font-size: var(--font-size-medium);
    cursor: pointer;
    font-family: var(--font-medium);
    background-color: var(--secondary-color);
    display: inline-block;
}

button:hover, .button:hover {
    transform: scale(110%) !important;
    transition: 0.2s;
}

button.bg-secondary:hover, .button.bg-secondary:hover {
    background-color: var(--secondary-shade-1);
    border-color: var(--secondary-shade-1);
}

button.bg-primary-tint-1:hover, .button.bg-primary-tint-1:hover {
    background-color: var(--primary-tint-2);
    border-color: var(--primary-tint-2);  
}

input {
    outline: transparent;
    border: none;
    border-bottom: 3px solid var(--accent-color-1);
    padding: 0.2em;
    
    font-size: var(--font-size-large);
    cursor: pointer;
    font-family: var(--font-medium);
    background-color: transparent;
    display: inline-block;
}

header {
    display: grid;
    grid-template-columns: auto max-content auto max-content;
    grid-template-areas: "logo search-bar nav button";

    align-items: center;
    box-shadow: 0 0 10px 2px var(--primary-shade-2);
    position: sticky;
    z-index: 100;
    top: 0;
}

.hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.bg-image-element {
    position: relative;
    min-height: calc(100svh - 57px);
}

.bg-image-element::before { 
    content: "";
    position: absolute;

    inset: 0;
    z-index: -1;

    filter: brightness(70%);

    background-image: var(--bg-image-1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.border-accent {
    border: 3px solid var(--accent-color-1);
}

.border-invert-neutral {
    border: 3px solid var(--invert-neutral-color);
}

.border-primary-tint-1 {
    border: 3px solid var(--primary-tint-1);
}

.border-secondary {
    border: 3px solid var(--secondary-color);
}

.text-regular-invert-neutral {
    font-family: var(--font-regular);
    color: var(--invert-neutral-color);
}

.text-medium-invert-neutral {
    font-family: var(--font-medium);
    color: var(--invert-neutral-color);
}

.text-medium-accent-1 {
    font-family: var(--font-medium);
    color: var(--accent-color-1);
}

.text-medium-neutral {
    font-family: var(--font-medium);
    color: var(--neutral-color);
}

.text-medium-secondary {
    font-family: var(--font-medium);
    color: var(--secondary-color);  
}

.text-thick-invert-neutral {
    color: var(--invert-neutral-color);
    font-family: var(--font-thick);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-primary-tint-1 {
    background-color: var(--primary-tint-1);
}

.bg-invert-neutral {
    background-color: var(--invert-neutral-color);
}

.bg-transparent {
    background-color: transparent;
}

.bg-accent-1 {
    background-color: var(--accent-color-1);
}

.bg-accent-tint-1 {
    background-color: var(--accent-tint-1);
}

.primary-gradient {
    background: var(--primary-gradient-color);
    background: var(--primary-gradient);
}

.line-after-neutral::after {
    content: "";
    width: 130% ;
    margin: 10px;
    height: 2px;
    border-radius: 70px;
    background-color: var(--secondary-color);
}

header div, header nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    grid-area: logo;
    justify-content: start;
    margin-top: 0.2em;
    filter: hue-rotate(25deg) saturate(190%);
}

.logo p {
    font-size: var(--font-size-large);

    margin: 0 0 7px -0.15em;
}

.logo:hover #logo {
    transform: scale(105%);
    transition: 0.2s;
}

.search-bar {
    grid-area: search-bar;
    flex: 0 0 auto;

    border-radius: 20px;
    margin-left: 0.5em;
    padding: 0 0.3em;
}

#head-search-bar {
    min-height: 2rem;
    width: clamp(15rem, 2vw, 20rem);
    font-size: var(--font-size-normal);

    outline: transparent;
    border: none;
    background-color: transparent;
}

.search-bar::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    color: var(--primary-shade-1);
    opacity: 0.6;
}

#head-search-bar::placeholder {
    font-family: "GraphikMedium";
    font-size: var(--font-size-normal);
    color: var(--primary-shade-1);
    opacity: 0.6;
}

nav {
    grid-area: nav;
}

header .nav-list {
    gap: 0.8rem;
    justify-content: end;

    margin: 0 1.5rem 0 0.5rem;
}

header .nav-list li {
    font-size: var(--font-size-medium);
}

.account {
    grid-area: button;
    gap: 0.5rem;
    margin: 0.2em 0.6em 0.2em -0.8em;

    justify-content: end;
}

.grid-home {
    display: grid;

    grid-template-columns: 15% auto;
    grid-template-areas: "collection feed social";
    height: 91vh;
}

.home:nth-child(1) {
    box-shadow: 8px 0px 8px rgba(94, 94, 94, 0.1);
    position: relative;
}

.home:nth-child(1) * {
    box-shadow: none;
}

.home:nth-child(3) {
    display: none;
    box-shadow: -8px 0px 8px rgba(94, 94, 94, 0.1);
}

.home {
    padding: 1rem;
}

.collection {
    grid-area: collection;
    overflow-y: auto;
}

.collection * + * {
    padding-top: 0;
}

.collection, .collection *  {
    display: flex;
    flex-direction: column;

    align-items: center;
    border: none;
    font-size: var(--font-size-medium);
}

.collection #collection-username {
    margin: 0 0;
}

.profilepic:hover #collection-profile-pic {
    transform: scale(105%);
    transition: 0.2s;
}

.list-collection {
    align-items: start;
}

.list-collection li p {
    margin-top: 0;
    margin-bottom: 5px;
}

.dropdown-content {
    display: none;
    font-size: var(--font-size-normal);
}

/* .list-collection li:nth-child(n):hover > p {
    background-color: var(--primary-tint-1);
}

.list-collection li:nth-child(n):hover .dropdown-content:nth-child(n) {
    display: block;
}
 */
/* .list-collection li p:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #747474;
    content: "";
    display: block; 
} */ /* for lines */

.feed {
    grid-area: feed;
}

.social {
    grid-area: social;
}

footer {
    left: 0;
    bottom: 0;
    background-color: black;
    position: fixed;
}


/* LANDING/INDEX PAGE SPECIFIC CSS STARTS HERE 
--------------------------------------------------*/

main.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    text-align: center;
    font-size: var(--font-size-huge);
}

.quote h1, .quote h3 {
    line-height: 1em;
}

.quote > * {
    margin: 0;
}

.quote p {
    margin: 3em 0;
    font-size: var(--font-size-medium);
}

#button-landing-create-account {
    font-size: var(--font-size-large);
    padding-inline: 3em;
}



/* MAP PAGE SPECIFIC CSS STARTS HERE 
--------------------------------------------------*/



/* TEXT PAGE TEMPLATE CSS STARTS HERE
--------------------------------------------------*/

main.text * + * {
    margin: 1em 0 0;
}

main.text {
    display: flex;
    justify-content: center;
}

main.text article {
    padding: 2rem;
    flex-basis: 70ch;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

main.text h1{
    font-family: var(--font-thick);
    font-size: var(--font-size-huge);
}

/* LOGIN/SIGNUP PAGE TEMPLATE CSS STARTS HERE
--------------------------------------------------*/

main.form-account *, main.form-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
} 

main .container {
    padding: 2rem;
    border-radius: 15px;
}

main .container * + * {
    margin-bottom: 0;
    margin-top: 1rem;
}

main .container p, main .container a {
    font-size: var(--font-size-medium);
    font-family: var(--font-medium);
}

#or {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    padding-inline: 0px;
    color: var(--primary-shade-2);

}

#or::before, #or::after {
  content: "";
  position: absolute;
  width: clamp(50px , 100px, 100px);
  height: 1.5px;
  background-color: var(--primary-shade-2);
  top: 50%;
}

#or::before {
  left: -110px;
}

#or::after {
  right: -110px;
}





